.pageHeader {
    text-align: center;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.shop {
    border: 1px dashed black;
    flex-basis: 31%;
    padding-top: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
}